
<div class="container order-complete-box">
	<h3>@ViewBag.Message</h3>
	<div class="backbuttons-box">
		<div class="backbuttons">			
			<span><a class="btn btn-primary custom-btn-primary" asp-controller="Monitors" asp-action="List">Go to list</a></span>
			<span><a class="btn btn-primary custom-btn-primary" asp-controller="Home" asp-action="Index">Home page</a></span>			
		</div>				
	</div>
</div>
