
<div class="info-page">            
    <div id="iibdcont" class="container">
        <div class="row">            
            <aside id="iicolleft" class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3">
                <ul class="fxd" style="width:242px;">
                    <li>
                        <a class="expand level-0" href="/Home/company/#profilef">Profile</a>
                    </li>
                    <li>
                        <a class="expand level-0" href="/Home/company/#legalf">Legal notice</a>
                    </li>
                </ul>
            </aside>           
            <main id="iicolright" class="col-xs-12 col-sm-8 col-md-9">  
                <div id="profilef"></div>
                <section>
                    <h1>PROFILE</h1>                    
                    <h3>MISSION STATEMENT</h3>
                    <p>To be the leading supplier of high quality display products, meeting all 
                        customer requirements and maintaining a high market share. To provide products 
                        with a competitive price & performance superiority. To ensure all products 
                        are supplied within the quality policies and procedures laid down by iiyama 
                        management, with objectives towards an ISO-9002 quality system.
                    </p>
                    <p>
                        To be the leading supplier of high quality display products, meeting all 
                        customer requirements and maintaining a high market share.<br />
                        To provide products with a competitive price & performance superiority.<br />
                        To ensure all products are supplied within the quality policies and procedures 
                        laid down by iiyama management, with objectives towards an ISO-9002 quality system.
                    </p>
                    <h3>PROFILE</h3>
                    <p>iiyama is one of the world's leading manufacturers of computer monitors.  
                        Efficiency, performance, reliability and user comfort are all key to the 
                        development of iiyama products.
                    </p>
                    <h3>CONSISTENT EVOLUTION OF HIGH QUALITY PRODUCTS</h3>
                    <p>
                        Our success has been achieved by the consistent evolution of high quality 
                        product and by bringing them to market at an accessible price.
                    </p>
                    <ol>
                        <li>
                            To be the leading supplier of high quality display products, meeting 
                            all customer requirements and maintaining a high market share.
                        </li>
                        <li>
                            To provide products with a competitive price & performance superiority.
                        </li>
                        <li>
                            To ensure all products are supplied within the quality policies and 
                            procedures laid down by iiyama management, with objectives towards 
                            an ISO-9002 quality system.
                        </li>
                    </ol>
                    <p>
                        From day one, the emphasis was not along standard lines of mass production, 
                        but rather to apply the human element at all stages of the manufacturing 
                        process.  This philosophy is still central to everything that iiyama creates 
                        and our research and development is based on the concept of creating people 
                        friendly product.
                    </p>
                    <p>
                        New products will not be introduced to market unless we are certain that they 
                        offer a real benefit to the user and match our famous price / performance ratio
                    </p>
                    <p>
                        Important facts:
                    </p>
                    <p>
                        MCJ - listed at Tokyo Stock Exchange (Code : 6670) - is 100% shareholder of iiyama.<br />
                        CEO of iiyama corporation - Shinji Takeichi
                    </p>                                      
                </section>
                <div id="legalf"></div>
                <section>
                    <h1>LEGAL NOTICE</h1>
                    <p>
                        This legal notice applies to the entire contents of the iiyama website under the 
                        domain name iiyama.com and any other websites operated by iiyama. Please read this 
                        notice carefully before using our website. Using our website indicates that you 
                        accept this notice. If you do not accept this notice, do not use our website. 
                        The contents of this legal notice may be amended by iiyama at any time. 
                        All amendments are effective upon posting.
                    </p>
                    <p>
                        Our website contains information (including source code, text, graphics, downloads) 
                        protected by proprietary rights owned by us or our licensors. Reproduction, 
                        transmission, modification of information downloaded from www.iiyama.com is allowed 
                        for personal use only. None of the information on this site may be copied, distributed 
                        or transmitted in any way for commercial use without our express written consent. 
                        All materials on this site are provided for lawful purposes only. We reserve full 
                        ownership of and intellectual property rights on any material downloaded from this site.
                    </p>
                    <p>
                        For information about the use of your personal information and cookies used on our 
                        website, please refer to our Privacy Policy.
                    </p>
                    <p>
                        Links to third party websites on our website are provided solely for your convenience. 
                        If you use these links, you leave our website and do so entirely at your own risk. 
                        We have no control over these websites and are therefore not responsible for their 
                        content or availability. Also any material downloaded or otherwise obtained through 
                        the use of the iiyama website is done at your own discretion and risk. You are solely 
                        responsible for any damage to your computer system or loss of data that results from 
                        the download of any such material.
                    </p>
                    <p>
                        The information contained on this site may be incomplete and contain errors, because 
                        they are for information only and not legally binding. iiyama reserves the right to 
                        make changes to part or all of the website without notice and shall not be liable for 
                        damages resulting from the use of this website.
                    </p>
                    <p>
                        We do not guarantee, represent or warrant that your use of our website will be 
                        uninterrupted or error-free. We endeavour to ensure that our website is available 
                        24 hours a day, however access to our website may be suspended temporarily and without 
                        notice in the case of system failure, maintenance, repair or for any other reason 
                        beyond our control.
                    </p>
                </section>
            </main>            
        </div>
    </div>
</div>
