
<div class="info-page">            
    <div id="iibdcont" class="container">
        <div class="row">            
            <aside id="iicolleft" class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3">
                <ul class="fxd" style="width:242px;">
                    <li>
                        <a class="expand level-0" href="/Home/press/#pressf">Press material</a>
                    </li>                   
                </ul>
            </aside>           
            <main id="iicolright" class="col-xs-12 col-sm-8 col-md-9">  
                <div id="pressf"></div>
                <section class="press-box">
                    <h1>PRESS MATERIAL</h1>                    
                    <h3>GFOR HIGH QUALITY PICTURES</h3>
                    <p>please go to a specific product page and choose the Gallery tab. You can 
                        download each picture both as an RGB image or CMYK.
                    </p>
                    <h3>FOR OUR LOGO</h3>
                    <p>please use the list below.</p>                    
                    <div class="press-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td>iiyama 
                                        <br>
                                    </td>
                                    <td>
                                        <span >
                                            <a class="btn btn-primary custom-btn-primary" href="~/files/pressfiles/iiyama_logoPACK.zip">Download</a>
                                        </span> <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>iiyama G-Master
                                        <br>
                                    </td>
                                    <td>
                                        <span>
                                            <a class="btn btn-primary custom-btn-primary" href="~/files/pressfiles/G-Master_logoPACK.zip">Download</a>
                                        </span> <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>iiyama Professional Display 
                                        <br>
                                    </td>  
                                    <td>
                                        <span>
                                            <a class="btn btn-primary custom-btn-primary" href="~/files/pressfiles/iiPD_logoPACK.zip">Download</a>
                                        </span> <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </section>                
            </main>            
        </div>
    </div>
</div>