
<div class="privacy-page">            
    <div id="iibdcont" class="container">
        <div class="row">
            <main id="iicolright" class="col-xs-12">
                <p>
                    <strong>
                        Privacy statement/policy iiyama
                    </strong>
                </p>
                <p>iiyama international B.V., located at Wijkermeerstraat 8, 2131 HA Hoofddorp, 
                    the Netherlands, is responsible for the collecting and processing of personal 
                    data as described in this privacy statement.
                </p>
                <p>iiyama recognizes the importance of protecting your privacy and personal data 
                    according to the new EU GDPR regulations and we promise to treat any of the 
                    information that you share with us with the utmost respect and confidentiality. 
                    We have taken appropriate technical and organizational measures to prevent loss, 
                    theft, abuse or unauthorized access to, alteration and publication of your personal 
                    data. Should you feel that we have not secured your personal data sufficiently or 
                    you have an indication of misuse of your personal data, please contact us 
                    at gdpr@iiyama.com. We do not sell or trade your personal data.
                </p>
                <p>This privacy notice lets you know what happens to any personal data that you give 
                    to us, or any that we may collect from or about you. It applies to personal 
                    information processed by or on behalf of iiyama International B.V. and it applies 
                    to all our products and services, and instances where we collect personal data.
                </p>
                <p>We may change this privacy notice from time to time by updating this page in order 
                    to reflect changes in the law and/or our privacy practices. We encourage you to 
                    check this privacy notice for changes whenever you visit our website. In case of 
                    substantial changes, we will make sure that the changes will clearly be marked 
                    and communicated.
                    <br />
                    The current version is from May 2018 - V0.6.
                </p>
                <p>
                    Please use the links below to find out more about how we use your personal information:
                </p>
                <ol>
                    <li>
                        <a class="menu-pp-link" href="#0">What kinds of personal information about you do we process?</a>
                    </li>
                    <li>
                        <a class="menu-pp-link" href="#1">What is the source of your personal information</a>
                    </li>
                    <li>
                        <a class="menu-pp-link" href="#2">What are the legal grounds for our processing of your personal information</a>
                    </li>
                    <li>
                        <a class="menu-pp-link" href="#3">Who do we share your personal information with?</a>
                    </li>
                    <li>
                        <a class="menu-pp-link" href="#4">Is your personal information transferred outside the EU?</a>
                    </li>
                    <li>
                        <a class="menu-pp-link" href="#5">How long is your personal information retained by us?</a>
                    </li>
                    <li>
                        <a class="menu-pp-link" href="#6">What are your rights under data protection laws?</a>
                    </li>
                    <li>
                        <a class="menu-pp-link" href="#7">Cookies or similar technologies used by iiyama</a>
                    </li>
                    <li>
                        <a class="menu-pp-link" href="#8">Links on iiyama.com or any other of our websites</a>
                    </li>
                    <li>
                        <a class="menu-pp-link" href="#9">Forms on iiyama.com or any other of our websites</a>
                    </li>
                </ol>                
                <p>
                    For all questions regarding this privacy policy and the collection and processing of 
                    personal data by iiyama please contact us via gdpr@iiyama.com.
                </p>
                <ol>
                    <li >
                        <div id="0"></div>
                        <p>
                            <strong>
                                What kinds of personal information about you do we process?
                            </strong>
                        </p>
                        <p>
                            iiyama processes your personal data when you use our services and/or when 
                            you have provided us with your customer/supplier data. For instance, when 
                            contacting us or one of our service/business partners with a service or 
                            support question, when you hand your business card, or when you fill out 
                            your customer data in a competition or price-draw.
                        </p>
                        <p>
                            Below you can find an overview of the personal data we collect and process 
                            depending on the service or product that you have with us:
                        </p>
                        <p>
                            Personal and contact details: such as title, full name, contact details incl. 
                            email address and contact details history
                            <br />
                            Your country of residence, language preference and if relevant your interest 
                            in our product categories; desktop, gaming, touch screens and large format 
                            displays or industry such as: retail, gaming, business, health
                            <br />                            
                            Records of your contact with us; such as service requests, emails and your 
                            email subscription preferences
                        </p>
                    </li>
                    <li>
                        <div id="1"></div>
                        <p>
                            <strong>
                                What is the source of your personal information?
                            </strong>
                        </p>
                        <p>
                            We’ll collect personal information from the following general sources:
                        </p>
                        <p>
                            From you directly<br />
                            From our account managers and sales personnel<br />
                            From our service or business partners when requesting price quotations or 
                            processing service requests, warranty claims or direct inquiries.<br />
                            Business partners (for example suppliers, resellers, online vendors, distributors), 
                            or others who are a part of providing your products and services or operating 
                            our business<br />
                            From other sources such as publicly available directories and information 
                            (for example, social media and internet)<br />
                            From events and other promotional activities
                        </p>
                    </li>
                    <li>
                        <div id="2"></div>
                        <p>
                            <strong>
                                What do we use your personal data for/ What are the legal grounds for 
                                our processing of your personal information?
                            </strong>
                        </p>
                        <p>
                            We rely on the following legal bases to use your personal data, including any 
                            of the personal data listed at section 2 above:
                        </p>
                        <ol>
                            <li>
                                <p>
                                    <strong>
                                        Where it is needed to provide you with our products or services, such as:
                                    </strong>
                                </p>
                                <ol>
                                    <li>
                                        Assessing a product order or service you hold with us, including 
                                        consideration as to whether or not to offer you the product, 
                                        the price, the payment methods available and the conditions to attach
                                    </li>
                                    <li>
                                        Managing products and services you hold with us, or an application for one
                                    </li>
                                    <li>
                                        Updating your records, tracing your whereabouts to contact you about your 
                                        account and doing this for recovering debt (where appropriate)
                                    </li>
                                    <li>
                                        Sharing your personal information with business partners and services 
                                        providers when you apply for a product to help manage your product
                                    </li>
                                    <li>
                                        All stages and activities relevant to managing the product or service 
                                        including enquiry, application, administration and management of 
                                        accounts, requests for transfers of equity, setting up/changing/removing 
                                        guarantors
                                    </li>
                                    <li>
                                        To share information, as needed, with business partners (for example, 
                                        resellers and distributors), service providers or as part of providing 
                                        and administering our products and services or operating our business.
                                    </li>                                    
                                </ol>
                            </li>
                            <li>
                                <p>
                                    <strong>
                                        Where it is in our legitimate interests to do so, such as:
                                    </strong>
                                </p>
                                <ol>
                                    <li>
                                        To provide insight and analysis of our customers both for 
                                        ourselves and for the benefit of business partners either 
                                        as part of providing products or services, helping us improve 
                                        products or services, or to assess or improve the operating 
                                        of our business.
                                    </li>
                                    <li>
                                        For market research and analysis and developing statistics
                                    </li>
                                    <li>
                                        To inform you about critical updates or important changes to our 
                                        products and services that you have purchased from us.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p>
                                    <strong>
                                        To comply with our legal obligations
                                    </strong>
                                </p>
                                <ol>
                                    <li>
                                        To comply with legal and regulatory obligations, requirements 
                                        and guidance including warranty and service obligations and regulations.
                                    </li>
                                    <li>
                                        For management and auditing of our business operations including accounting
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p>
                                    <strong>
                                        With your consent or explicit consent:
                                    </strong>
                                </p>
                                <ol>
                                    <li>
                                        For direct marketing communications; product updates, emailing’s, 
                                        promotional activities and our newsletter to which you have subscribed
                                    </li>
                                    <li>
                                        For some of our profiling
                                    </li>
                                    <li>
                                        To develop new products and services and to review and improve 
                                        current products and services
                                    </li>
                                    <li>
                                        For service or warranty claims or customer support
                                    </li>
                                </ol>
                            </li>                           
                        </ol>
                    </li>
                    <li>
                        <div id="3"></div>
                        <p>
                            <strong>
                                Who do we share your personal information with?
                            </strong>
                        </p>
                        <p>
                            We only share your personal information with business- and, service partners and 
                            third parties when it is required to fulfill our contractual agreements, legal 
                            obligations and to deliver the purchased products or services. iiyama works with 
                            local parties and processors as much as possible. With any company or third party 
                            that is processing your personal data on our behalf, we have set-up a GDPR 
                            compliant data processing agreement to ensure they adhere to the same level of 
                            security and confidentiality as iiyama.
                        </p>
                        <p>
                            For more information on our local business and service partners, please contact 
                            us at gdpr@iiyama.com.
                        </p>
                        <p>
                            With all our third parties that process your personal data on our behalf, we 
                            have set-up a processors agreement through which we can guarantee the confidentiality 
                            and secure processing of your data. Regardless of who processes your data, we remain 
                            responsible for your data.
                        </p>
                    </li>
                    <li>
                        <div id="4"></div>
                        <p>
                            <strong>
                                Is your personal information transferred outside the EU
                            </strong>
                        </p>
                        <p>
                            Yes, we use several tools such as a CRM software and e-marketing platform MailChimp 
                            that have their headquarters located in the United States. These platforms and tools 
                            are obliged to follow GDPR guidelines.
                        </p>
                        <p>
                            For more information on the tools that we use, please contact us at gdpr@iiyama.com.
                        </p>
                    </li>
                    <li>
                        <div id="5"></div>
                        <p>
                            <strong>
                                How long is your personal information retained and used by us?
                            </strong>
                        </p>
                        <p>
                            Unless we explain otherwise to you, we’ll hold your personal information based 
                            on the following criteria:
                        </p>
                        <ol>
                            <li>
                                For as long as we provide goods and/or services to you and then for as 
                                long as someone could bring a claim against us; and/or
                            </li>
                            <li>
                                For as long as we have reasonable business needs, such as managing our 
                                relationship with you and managing our operations
                            </li>
                            <li>
                                Retention periods in line with legal and regulatory requirements or guidance
                            </li>
                            <li>
                                Run time of the promotional activity (such as competitions, giveaway, survey, etc.) 
                                and time needed to process your participation and to select and contact the 
                                winners when applicable. Your data will be deleted no later than a month after 
                                the end date of the promotional activity
                            </li>
                            <li>
                                When you have given us your consent to use your data for commercial purposes, such 
                                as the newsletter or product updates, we will store your data til you withdraw your 
                                consent
                            </li>
                        </ol>
                    </li>                   
                    <li>
                        <div id="6"></div>
                        <p>
                            <strong>
                                What are your rights under data protection laws?
                            </strong>
                        </p>
                        <p>
                            Here is a list of the rights that all individuals have under data 
                            protection laws.
                        </p>
                        <ol>
                            <li>
                                The right to be informed about the processing of your personal information
                            </li>
                            <li>
                                The right to have your personal information corrected if it is 
                                inaccurate and to have incomplete personal information completed
                            </li>
                            <li>
                                The right to object to processing of your personal information
                            </li>
                            <li>
                                You have the right to object to certain purposes for processing, 
                                in particular to data processed for direct marketing purposes and 
                                to data processed for certain reasons based on our legitimate interests.
                            </li>
                            <li>
                                The right to restrict processing of your personal information
                            </li>
                            <li>
                                The right to have your personal information erased (the “right to 
                                be forgotten”)
                            </li>
                            <li>
                                The right to request access to your personal information and to 
                                obtain information about how we process it
                            </li>
                            <li>
                                The right to move, copy or transfer your personal information 
                                (“data portability”)
                            </li>
                        </ol>
                        <p>
                            To exercise your rights, you can contact us with your data inquiry-, 
                            correction-, restriction-, removal- or transfer requests by sending 
                            an email to gdpr@iiyama.com or to your local account representative 
                            at sales.uk@iiyama.com.
                            <br />
                            You also have the right to complain to The Information Commissioner's 
                            Office which enforces data protection laws for your region.
                        </p>
                    </li>
                    <li>
                        <div id="7"></div>
                        <p>
                            <strong>
                                Cookies or similar technologies used by iiyama
                            </strong>
                        </p>
                        <p>
                            The iiyama websites use cookies which are tiny amounts of data, 
                            which are stored on your PC by the browser you are using to view 
                            our websites. All cookies are stored on your computer.
                        </p>
                        <p>
                            The information that we collect and store during normal use of the 
                            site is used to monitor and analyse how parts of the site are used. 
                            Such use does not result in any personally identifiable data being 
                            collected or stored.
                        </p>
                    </li>
                    <li>
                        <div id="8"></div>
                        <p>
                            <strong>
                                Links on iiyama.com or any other of our websites
                            </strong>
                        </p>
                        <p>
                            Our website iiyama.com contains links to websites from third 
                            parties such as local resellers and business partners. iiyama 
                            is not responsible for the contents of these sites nor for the 
                            privacy protection on these sites. We advise you to read the 
                            privacy policy of each website visited via the links on our website
                        </p>                       
                    </li>
                    <li>
                        <div id="9"></div>
                        <p>
                            <strong>
                                Forms on iiyama.com or any other of our websites
                            </strong>
                        </p>
                        <p>
                            You have the option on certain pages within this site to submit 
                            personal information to us by email and online enquiry forms.
                        </p>
                        <p>
                            The information you provide us about yourself will be shared 
                            with iiyama employees or passed on to the relevant department 
                            within iiyama to the extent necessary to accommodate your request. 
                            Your information will be kept confidential by iiyama unless we 
                            are required by law or our professional regulatory obligations to disclose it.
                        </p>
                        <p>
                            We may need to disclose your information to third parties in 
                            order to perform the services you have requested. By providing 
                            your information, you consent for us to share your identifiable 
                            information with third parties. who would be bound by confidentiality. 
                            We may also contact you for feedback on the service you received from us.
                        </p>
                    </li>
                </ol>
            </main>            
        </div>
    </div>
</div>



