
<div class="info-page">            
    <div id="iibdcont" class="container">
        <div class="row">            
            <aside id="iicolleft" class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3">
                <ul class="fxd" style="width:242px;">
                    <li>
                        <a class="expand level-0" href="/Home/support/#warrantyf">Standard Warranty</a>
                    </li>
                    <li>
                        <a class="expand level-0" href="/Home/support/#customer-servicef">Customer Service</a>
                    </li>
                    <li>
                        <a class="expand level-0" href="/Home/support/#downloadsf">Downloads</a>
                    </li>
                    <li>
                        <a class="expand level-1" href="/Home/support/#energy-efficiency-classf">Energy efficiency<br /> class </a>
                    </li>
                    <li>
                        <a class="expand level-0" href="/Home/support/#recyclingf">Recycling</a>
                    </li>
                    <li>
                        <a class="expand level-0" href="/Home/support/#faqf">F.A.Q</a>
                    </li>
                    <li>
                        <a class="expand level-1" href="/Home/support/#cleaningf">How to clean your monitor screen<br />  during COVID-19</a>
                    </li>
                    <li>
                        <a class="expand level-1" href="/Home/support/#windows8_10f">Windows 8/10 and iiyama monitors</a>
                    </li>                    
                </ul>
            </aside>           
            <main id="iicolright" class="col-xs-12 col-sm-8 col-md-9">  
                <div id="warrantyf"></div>
                <section>
                    <h1>STANDARD WARRANTY</h1>                    
                    <h3>GENERAL EUROPEAN WARRANTY CONDITIONS</h3>
                    <p>The standard European warranty period is three (3) years, (CCTV Products two (2) Years), 
                        from the date of sale to the first end user as a new device An end user is exclusively 
                        a person who acquires the product for their own use and not for the purposes of commercial 
                        resale. The warranty period for accessories, such as remote controls, is one (1) year from 
                        date of purchase. The warranty claim entitles the user to a repair, the replacement of 
                        defective parts or an exchange of the product for a product of equal quality without 
                        charging labor or material costs. The performance of warranty claims shall cause neither 
                        an extension nor a restart of the warranty period. The cost and handling for the warranty 
                        process will be covered by iiyama, unless a No Defect Found is detected. In this case 
                        iiyama reserves the right to raise any relevant charges to the customer.
                    </p>
                    <h3>WARRANTY COVER BY PRODUCT GROUP</h3>
                    <p>iiyama provides the following VisionCare standard warranty cover for each product group.</p>                    
                    <div class="warranty-table">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Product Group</strong>
                                        <br>
                                    </td>
                                    <td>
                                        <strong>Product Description</strong>
                                        <br>
                                    </td>
                                    <td>
                                        <strong>Warranty</strong>
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Desktop monitors
                                        <br>
                                    </td>
                                    <td>Desktop monitors 17"~ 43"
                                        <br>
                                    </td>
                                    <td>3 years VisionCare Onsite
                                        <br>
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Touchscreen monitor
                                        <br>
                                    </td>
                                    <td>Touchscreens monitor up to 32 inch
                                        <br>
                                    </td>
                                    <td>3 years VisionCare Onsite
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>LFD 
                                        <br>
                                    </td>
                                    <td>Large Format Display 32" and bigger 
                                        <br>
                                    </td>
                                    <td>
                                        <p>3 years VisionCare standard warranty 
                                            <br>For details please check your iiyama
                                            <br>local website, or contact your dealer
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Desk stands 
                                        <br>
                                    </td>
                                    <td>DSxxxx series 
                                        <br>
                                    </td>
                                    <td>5 years Return to Base 
                                        <br>
                                    </td>
                               </tr>
                               <tr>
                                   <td>Mounting devices (electric)
                                       <br>
                                   </td>
                                   <td>MDxxxx series
                                       <br>
                                   </td>
                                   <td>5 years Return to Base 
                                       <br>
                                   </td>
                              </tr>
                              <tr>
                                  <td>Other devices 
                                      <br>
                                  </td>
                                  <td>Parts like remote control, etc. 
                                      <br>
                                  </td>
                                  <td>1 year Return to Base 
                                      <br>
                                  </td>
                             </tr>
                         </tbody>
                    </table>
                </div>                
                    <h3>ONSITE SERVICE</h3>
                    <p>If you have a defect within 8 days of purchase (called DOA period) check your local Website 
                        or contact your Dealer/Supplier. For devices that are already in use longer than 8 days and 
                        within the warranty period we offer an extended on-site service. Your defective monitor 
                        will be picked up at the registered address during the warranty. Next, we provide, 
                        depending on the type of monitor, service on one of the following ways: You will receive 
                        immediately after taking your defective monitor a replacement, which you can keep. 
                        The replacement monitor remains your property. In exceptional cases and at most of the touch 
                        screen monitors and Large Format Display the defective unit will be repaired by our 
                        service and delivered usually within 8days to you back. Iiyama reserves the rights to 
                        repair your monitor in our own workshop or over an authorized Service Partner.
                    </p>
                    <p>
                        <strong>How to request an RMA in regions Middle-East, Turkey, Greece, Balkans, Israel, East-West Africa</strong>
                        <br />
                        Gather the following information:
                        <br />
                        <br />
                            • Proof of purchase
                            <br />
                            • Product serial number
                            <br />
                            • Clear failure description
                            <br />
                            <br />
                            Your IIYAMA product must have been purchased from an authorized IIYAMA reseller or distribution 
                            partner in order to be eligible for warranty coverage. Warranty is for the original purchaser only 
                            and is not transferable. Original proof of purchase is required to receive warranty service.<br />
                            <strong>Note:</strong> Without proof of purchase, you might not be eligible for complimentary support
                            <br />
                            An iiyama local RMA service representative will perform a hardware check to determine if your 
                            device is defective and if an RMA is needed. If an RMA is issued, securely package your 
                            product with your name, address, phone number, and hand the product to the local RMA 
                            service presentative. Customers or local RMA service representative must pay for the 
                            cost of shipping the defective product.
                            <br />
                            iiyama does not offer any onsite or next business day replacement warranty for the above 
                            mentioned regions.
                    </p>
                </section>
                <div id="customer-servicef"></div>
                <section>
                    <h1>CUSTOMER SERVICE</h1>
                    <h3>WARRANTY COVER BY COUNTRY AND CONTACT DETAILS</h3>
                    <p>iiyama international support a product purchased and installed in Europe Mainland and Nordics.</p>
                    <p>In case of a defect, please call your local support hotline or use our online service form</p>
                    <div class="country-table">
                        <table cellpadding="1">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Country&nbsp;</strong>
                                    </td>
                                    <td>
                                        <strong>Phone number&nbsp;</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Austria&nbsp;
                                    </td>
                                    <td>+49 (0)8165- 98 04 450
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Belarus</td>
                                    <td>+375 17 319 99 09
                                        <br>+375 29 312 64 85
                                    </td>
                                </tr>
                                <tr>
                                    <td>Belgium 
                                        <br>
                                        <br>
                                    </td>
                                    <td>+32 078 353037
                                        <br>+33 (0)97 999 0399 (français)
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bulgaria
                                    </td>
                                    <td>+49 1805 44 92 62, +359 2 979 99 35
                                    </td>
                                </tr>
                                <tr>
                                    <td>Czech Republic
                                    </td>
                                    <td>+420 596 253 677
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>France&nbsp;
                                    </td>
                                    <td>+33 097 999 0399
                                    </td>
                                </tr>
                                <tr>
                                    <td>Germany&nbsp;
                                    </td>
                                    <td>+49 (0)8165- 98 04 450 &nbsp;(Festnetzpreis 14ct/min, Mobilfunkpreise max 42ct/min)
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Great Britain&nbsp;
                                    </td>
                                    <td>+44 1926 819 189
                                    </td>
                                </tr>
                                <tr>
                                    <td>Italy
                                    </td>
                                    <td>+49 1805 44 92 62
                                    </td>
                                </tr>
                                <tr>
                                    <td >Luxemburg
                                    </td>
                                    <td>+31 499 750 280
                                    </td>
                                </tr>
                                <tr>
                                    <td>Netherlands&nbsp;
                                    </td>
                                    <td>+31 900 666 4867&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>Poland&nbsp;
                                    </td>
                                    <td>+48 717 151 857
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Russia, Kaliningrad&nbsp;
                                    </td>
                                    <td>+7 4012 631 061&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>Russia
                                    </td>
                                    <td>+7 495 953 1157
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <div id="downloadsf"></div>
                <section>
                    <h1>DOWNLOADS</h1>
                    <h3>DRIVERS, USER MANUALS AND DATA SHEETS</h3>
                    <p>For drivers, user manuals and specifications relating to current products, please visit the individual 
                        model within the product section of the iiyama website. For discontinued products, please enter the model 
                        number into the iiyama service tool on the left.
                    </p>
                    <p>N.B. Windows NT 4.0 does not require drivers to recognise an iiyama product. Many graphic cards offer 
                        additional software for that purpose. If drivers/programs of this type are not available, standard 
                        VESA drivers can be used.
                    </p><br />
                    <h3>DOWNLOAD YOUR DRIVERS</h3>
                    <p>Driver files for all iiyama products, both new and old are contained within the one file.</p>
                    <a href="~/files/COLOUR PROFILES INF&ICC 15.02.2022.zip" class="btn btn-primary custom-btn-primary">
                        DOWNLOAD
                    </a>
                    <h3>SOFT OSM</h3>
                    <p>We recommend that you use the standard functionality of the graphics card driver. Nvidia, ATI / AMD 
                        and Intel chipsets support many standard features of the Pivot.
                    </p>
                    <h3>TEST SOFTWARE</h3>
                    <p>Here you can download the test picture</p>
                    <a href="~/files/MonTest_2_1.exe" download="" class="btn btn-primary custom-btn-primary">
                        DOWNLOAD TEST
                    </a>
                    <h3>DRIVERS FOR TOUCHSCREENS</h3>
                    <p>Please check the download tab available within a specific product.</p>
                    <h3>IIYAMA TEAMVIEWER SUPPORT</h3>
                    <a class="orange" href="https://get.teamviewer.com/jq8hz5a">
                        <span class="orange"><span class="filedownload">Download</span></span>
                    </a>
                </section>
                <div id="energy-efficiency-classf"></div>
                <section>
                    <h1>ENERGY EFFICIENCY CLASS</h1>
                    <p>EU energy labels, first introduced in 1994 are helping consumers identify products using less 
                        energy and therefore, over the products life span, costing less as well.
                        To simplify the scaling system, that up till now included multiple A levels (A, A+, A++, etc.), 
                        and to continue help consumers make informed choices when they buy new energy efficient products, 
                        the EU energy labelling framework regulation was updated and adopted three years ago (Regulation 
                        (EU) 2017/1369). The regulation reintroduces a simpler classification, using only the letters 
                        from A to G. The new scaling systems comes into force on 28th February 2021.
                        <br />
                        Please click on the download button below, to download Energy labels for all iiyama products 
                        in one click.
                    </p>
                    <a href="~/files/B1780SD-B1 D EU Energy Label pdf data(389714).pdf" class="btn btn-primary custom-btn-primary">
                        EU LABELS DOWNLOAD
                    </a>
                </section>
                <div id="recyclingf"></div>
                <section>
                    <h1>RECYCLING</h1>
                    <p>
                        Environmental protection is a priority for the conservation of precious natural resources 
                        and the continued health of our planet and all species. iiyama recognizes its importance as 
                        a global company and is continually striving to reduce the environmental impact of the work 
                        it does and the products it creates.
                    </p>
                    <h3>PRODUCT DESIGN</h3>
                    <p>
                        It all begins here. Reducing the environmental impact of our products starts with the product 
                        design phase. Design dictates the quantity of raw materials, type and recylability of materials, 
                        energy consumption required for manufacturing and use, and the ease of recycling. Our decision 
                        to eliminate Cathode Ray Tube (CRT) displays makes our product line much more environmentally 
                        friendly. Our LCD displays eliminate more than one kilo of lead, consume up to 80% less energy 
                        in sleep mode, and weigh half as much as their CRT predecessors.
                    </p>
                    <h3>RECYCLING</h3>
                    <p>
                        iiyama's approach to recycling encompassing a product's entire lifecycle and includes extensive 
                        take-back programs that enable consumers and businesses to dispose of used monitors in an 
                        environmentally friendly manner.
                        <br />
                        For more details regarding recycling please chose a country from the list below.
                    </p>
                </section>
                <div id="faqf"></div>
                <section>
                    <h1>F.A.Q</h1>
                    <p>
                        Here you will find a summary of the more commonly asked questions in the monitor world.
                    </p>
                    <p>
                        If you would like to receive more detailed information on a specific subject, we recommend 
                        the glossary and worth knowing sections of the iiyama website. Alternatively you can email 
                        us directly.
                    </p>
                    <div class="faq-list">
                        <ul>
                            <li onClick="toggle_show('faq1')">What is FreeSync™?
                                <ul id="faq1" style="display: none">
                                    <li>
                                        <p>
                                            AMD FreeSync™ technology is comparable with NVidia G-Sync technology, 
                                            the main difference is that FreeSync™ is supported through the 
                                            DisplayPort 1.2a standard where G-Sync requires special hardware.
                                            The technology used is Adaptive VSync, when the frame rate drops 
                                            during gameplay the monitor refresh rate will also go down to stay 
                                            in sync with the graphics card. Putting an end to choppy gameplay, 
                                            broken frames and delivering fluid artifact-free performance. To use 
                                            the functionally it’s mandatory to have an AMD GPU graphics card which 
                                            supports FreeSync™.
                                        </p>
                                    </li>                                
                                </ul>
                            </li>
                            <li onClick="toggle_show('faq2')">I have an Apple MAC-system, will my monitor work?
                                <ul id="faq2" style="display: none">
                                    <li>
                                        <p>
                                            MAC-systems previously had a different graphics cards/connections, 
                                            so they were not always compatible with all monitors. For the older 
                                            Mac models, before Power Mac came on the market, you can order an 
                                            adapter from iiyama. The newer Mac systems (PowerMac and newer) can 
                                            always be used in combination with our monitors. However, some MAC’s 
                                            use Apple own proprietry out put for connecting to Monitors. In 
                                            these cases an additional adapter will be required. Please contact 
                                            your iiyama dealer and provide information on the MAC system you 
                                            are using so that iiyama can correctly advise which adapter you 
                                            will need.
                                        </p>
                                    </li>                                
                                </ul>
                            </li>
                            <li onClick="toggle_show('faq3')">Do I have to install a driver for an iiyama monitor?
                                <ul id="faq3" style="display: none">
                                    <li>
                                        <p>
                                            All iiyama monitors are Plug & Play. In a modern operating system 
                                            Plug & Play (from Win98 SR2) is not necessary to install a monitor 
                                            driver, as the most relevant information has been automatically 
                                            exchanged between your system and the iiyama Plug & Play monitor. 
                                            The driver contains the color profile of your monitor, it can be 
                                            installed on Windows operating systems, which can increase colour 
                                            performance if used.
                                        </p>
                                    </li>                                
                                </ul>
                            </li>
                            <li onClick="toggle_show('faq4')">What does TCO '99/ TCO ‘03/ TCO 5.0/ TCO 6.0 stand for?
                                <ul id="faq4" style="display: none">
                                    <li>
                                        <p>
                                            Almost all iiyama monitors meet TCO '03 and TCO 5.0 or 6.0 standard, 
                                            which means that the monitors meet the toughest requirements in the 
                                            field of radiation, ergonomics, environment and health.
                                        </p>
                                    </li>                                
                                </ul>
                            </li>
                            <li onClick="toggle_show('faq5')">What does the brightness stand for?
                                <ul id="faq5" style="display: none">
                                    <li>
                                        <p>
                                            The brightness of a monitor is measured in cd/m². Our LCD monitors 
                                            have a brightness above 250 cd/m². This is especially useful when 
                                            viewing moving images and playing games.
                                        </p>
                                    </li>                                
                                </ul>
                            </li>
                            <li onClick="toggle_show('faq6')">Do I have to install a driver for an iiyama monitor?
                                <ul id="faq6" style="display: none">
                                    <li>
                                        <p>
                                            All iiyama monitors are Plug & Play. In a modern operating system 
                                            Plug & Play (from Win98 SR2) is not necessary to install a monitor 
                                            driver, as the most relevant information has been automatically 
                                            exchanged between your system and the iiyama Plug & Play monitor. 
                                            The driver contains the color profile of your monitor, it can be 
                                            installed on Windows operating systems, which can increase colour 
                                            performance if used.
                                        </p>
                                    </li>                                
                                </ul>
                            </li>
                            <li onClick="toggle_show('faq7')">What is DVI?
                                <ul id="faq7" style="display: none">
                                    <li>
                                        <p>
                                            This is the digital connection to an LCD monitor or graphics card. 
                                            With a DVI connection the picture quality is always perfect. There 
                                            are two different connections. The DVI-D connector is a digital only 
                                            connection and DVI-I (also known as DVI-A) lead can be either digital 
                                            or analog signal (with analogue control a cable with a 15 pin VGA 
                                            connector is connected on the computer).
                                        </p>
                                    </li>                                
                                </ul>
                            </li>
                            <li onClick="toggle_show('faq8')">What is HDMI?
                                <ul id="faq8" style="display: none">
                                    <li>
                                        <p>
                                            This is the digital connection to an LCD monitor or graphics card. 
                                            With a HDMI connection the picture quality is always perfect. Sound 
                                            is also transmitted through the HDMI cable, but please check with 
                                            computer and laptop manufacturers to ensure that the HDMI ports used 
                                            can carry sound. The signal from HDMI is compatible with DVI-D 
                                            (without sound).
                                        </p>
                                    </li>                                
                                </ul>
                            </li>
                            <li onClick="toggle_show('faq9')">Can I play games or watch a (DVD) movie on a LCD monitor?
                                <ul id="faq9" style="display: none">
                                    <li>
                                        <p>
                                            It is possible to play games or watch DVD on LCD monitors when connects 
                                            to a Console or PC System. The response time is an LCD screens ability 
                                            to turn a pixel on then completely off. This time is measured in mile 
                                            seconds, which varies from one LCD monitor, currently the fastest is 
                                            1ms. Our LCD monitors are now all a response time between 1 and 5 ms 
                                            and therefore all are suitable for playing games and watching movies.
                                        </p>
                                    </li>                                
                                </ul>
                            </li>
                            <li onClick="toggle_show('faq10')">What is the difference between TN, IPS and MVA LCD technologies?
                                <ul id="faq10" style="display: none">
                                    <li>
                                        <p>
                                            There are three technologies used in the production of LCD Screens, these are:
                                            Twisted Nematic (TN) – TN Panels use an LCD Technology whereby the LCD Elements 
                                            twist and untwist when a voltage is applied, which controls the level of light 
                                            passing through the pixel. This is the most common LCD technology on the market, 
                                            and benefits from high response times and can acheive 72% of the colours in the 
                                            NTSC Colour Light Spectrum.
                                            In Plane Switching (IPS) – IPS Panels use an LCD Technology whereby a pixel 
                                            shifts alignment when a voltage is applied.IPS offers good response times and 
                                            can achieve a degree of high colour accuracy, making it suitable in some Graphics 
                                            Applications, and also offers enhanced viewing angles.Vertical Alignment (VA) – 
                                            VA Panels are similar to IPS, but when to voltage is applied to the pixel , it 
                                            creates a near perfect black scren. VA tends to offer much higher contrast ratios 
                                            and colour accuracy (100% + of the NTSC Colour Gamut) and is often used for 
                                            Photographic and Graphics applications.
                                        </p>
                                    </li>                                
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>
                <div id="cleaningf"></div>
                <section>
                    <h1>How to clean your monitor screen during COVID-19</h1>
                    <p>In order to reduce the risk of infection and to protect the users and customers of our 
                        monitors against a possible COVID-19 transmission, we have compiled the following guideline 
                        to help you to sanitize our monitors in a proper way.</p>
                    <p>ATTENTION!</p>
                    <p>The below guidelines apply to all iiyama monitors and touchscreens EXCEPT FOR the optical 
                        touchscreens: T2252MTS-xxx , T2452MTS-xx, T2253MTS-xxx and T2453MTS-xx. For advise on 
                        cleaning iiyama optical touchscreen, please click <a href="~/files/How to clean your monitor screen during COVID-19.pdf">here</a>.
                    </p>
                </section>
                <div id="windows8_10f"></div>
                <section>
                    <h1>WINDOWS 8/10 AND IIYAMA MONITORS</h1>
                    <h3>ALL YOU WANT TO KNOW ABOUT IIYAMA MONITORS WORKING WITH WINDOWS 8/10</h3>
                    <h3>ARE IIYAMA MONITORS READY FOR WINDOWS 8/10?</h3>
                    <p>
                        All iiyama desktop monitors, touch screens and LFD's are compatible with Windows 8/10 
                        operating system.
                    </p>
                </section>
            </main>            
        </div>
    </div>
</div>


