
/*страница авторизации*/
.login-box {
    text-align: center;
    margin: 20px 25% 20px 25%;
    width: 50%;
    font-family: KlavikaLight-OSF;
}

.login-box form {
    display: inline-block;
}

/*страница выбора базы*/
.panel-box {
    margin: 20px 0 20px 0;
    font-family: KlavikaLight-OSF;
}

.panel-box h2{
    text-align: center;
    padding: 20px 0 40px 0;
}

.panel-button-box {
    padding: 15px 0;
}

.panel-button-box label {
    display: block;
}

/*страница базы данных мониторов и заказов */
.database-box {
    font-family: KlavikaLight-OSF !important;
}

.database-table-wrap {
    overflow-x: auto;
}

table.database-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

/*страница добавления нового монитора*/
.add-product {
    margin-bottom: 20px;
    font-family: KlavikaLight-OSF;
}

/*страница редактирования монитора*/
.edit-product-box {
    margin-bottom: 30px;
    font-family: KlavikaLight-OSF;
}

/*страница просмотра отдельного монитора*/
.details-product-box {
    margin-bottom: 20px;
    font-family: KlavikaLight-OSF;
}

.details-table-wrap {
    overflow-x: auto;
}

table.details-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.details-buttons {
    margin: 20px;
}

/*страница удаления монитора*/
.delete-product-box {
    margin-left: 30px;
    margin-bottom: 30px;
    font-family: KlavikaLight-OSF;
}

.delete-product-box h3 {
    color: #dc3545;
}

.delete-product-box.row {
    --bs-gutter-x: 0 rem !important;    
}

/*страница детализации заказа*/
.detail-order-box {
    margin-left: 30px;
    margin-bottom: 30px;
    font-family: KlavikaLight-OSF;
}

.detail-order-box h3 {
    color: #dc3545;
}

.order-table-box {
    margin-bottom: 20px;
    font-family: KlavikaLight-OSF;
}

.order-table-wrap {
    overflow-x: auto;
}

table.order-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.order-table-tfoot td {    
    border-top: solid 1px;
}

.details-buttons {
    margin: 20px;
}

/*страница редактирования заказа*/
.edit-order-box {
    margin-bottom: 30px;
    font-family: KlavikaLight-OSF;
}

/*страница удаления заказа*/
.delete-order-box {
    margin-left: 30px;
    margin-bottom: 30px;
    font-family: KlavikaLight-OSF;
}

.delete-order-box.row {
    --bs-gutter-x: 0 rem !important;
}